<div class="form">
  <form>
    <div class="form-group">
      <textarea
        class="form-control"
        rows="5"
        placeholder="Add data..."
        [formControl]="fc"
      ></textarea>
    </div>

    <button
      class="btn btn-primary"
      type="button"
      (click)="onSubmit()"
      [disabled]="!fc.value"
    >
      Submit
    </button>
  </form>
</div>
<div *ngIf="isError" class="alert alert-danger" role="alert">
  Error! Wrong format!
</div>
