.icon {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.actions {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
