<div *ngIf="tableData && tableData.length > 0">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" *ngFor="let column of displayedColumns">
          {{ column }}
        </th>

        <th scope="col" colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tableData">
        <td scope="col" *ngFor="let column of displayedColumns">
          {{ item[column] ? item[column] : "no value" }}
        </td>
        <td (click)="onEdit(item.id)">
          <img
            class="icon"
            src="../../../../assets/icons/edit-24px.svg"
            alt="edit"
          />
        </td>
        <td (click)="onDelete(item.id)">
          <img
            class="icon"
            src="../../../../assets/icons/close-24px.svg"
            alt="close"
          />
        </td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <a>Upload table data</a>

    <button class=" btn btn-secondary" type="button" (click)="onClear()">
      Clear
    </button>
  </div>
</div>
