<form *ngIf="itemForm" [formGroup]="itemForm" (ngSubmit)="onSubmit()">
  <div class="form-group" *ngFor="let column of displayedColumns">
    <label [for]="column">{{ column }}</label>
    <input
      type="text"
      class="form-control"
      [id]="column"
      placeholder="Enter value..."
      [formControlName]="column"
    />
  </div>

  <button type="submit" class="btn btn-primary">
    Submit
  </button>
</form>
